<div class="header-content">
    <nav>
        <div class="header-grid">
            <div class="nav-logo">
            <img src="images/gw2logo.png"  alt="Guild Wars 2 Logo">
            </div>
            <div class="nav-links-left">
                <a href="index.html">Home</a>
                <a href="wizardsvault.html">Wizards Vault</a>
                <a href="itemstats.html">Items</a>
                <a href="https://www.twitch.tv/guildwars2" target="_blank" rel="noopener noreferrer">Twitch</a>
            </div>
            <div class="nav-links-right">
                <a href="https://wiki.guildwars2.com/wiki/Main_Page" target="_blank" rel="noopener noreferrer">Wiki</a>
                <a href="characters.html">Characters</a>
                <a href="myvault.html">My Vault</a>
                <a href="login.html">Login</a>
            </div>
    </nav>