nav{
    background-color: #838383;
}

nav a{
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #dd0000;
    transform: scale(1.1);
    transition: .5s;
}


.header-grid {    
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.nav-logo {
    grid-column: 5/6;
    grid-row: 1/2;
    justify-self: center;
}

.nav-logo img {
    width: 100px;
}



.nav-links-left {
    grid-column: 1/5;
    grid-row: 1/2;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    transition: .5s;
}

.nav-links-right {
    grid-column: 6/10;
    grid-row: 1/2;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    transition: .5s;
}
.sublist {
    margin-left: 20px;
}